<nav class="navbar">
  <div class="navbar-left">
    <a class="navbar-brand" routerLink="/">University Forum</a>
    <a class="nav-link" routerLink="/category/Programming">Programming</a>
    <a class="nav-link" routerLink="/category/University">University</a>
    <a class="nav-link" routerLink="/category/Technology">Technology</a>
  </div>
  <div class="navbar-right">
    <a class="nav-link" routerLink="/login">Login</a>
    <a class="nav-link" routerLink="/register">Register</a>
  </div>
</nav>