<nav class="navbar">
  <div class="navbar-left">
    <a class="navbar-brand" routerLink="/">University Forum</a>
    <a *ngFor="let category of categories" class="nav-link" [routerLink]="['/category', category.name]">{{ category.name }}</a>
    <a class="nav-link" routerLink="/apply-writer">Become a Writer</a>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="!authService.loggedIn(); else loggedInUser">
      <a class="nav-link" routerLink="/login">Login</a>
      <a class="nav-link" routerLink="/register">Register</a>
    </ng-container>
    <ng-template #loggedInUser>
      <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
          <a routerLink="/profile">Profile</a>
          <a *ngIf="authService.isAdmin()" routerLink="/admin-dashboard">Admin Dashboard</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
